@import url("../css/form.css");
@import url("../css/table.css");
#livros, #usuarios{
    display:block;
    margin: 0 0 50px;
    padding:0;
    overflow:hidden
}
.filtro{
    font-weight:bold;
    margin:0 0 0 30px
}
#filtros{
    margin-top: 20px
}
#filtros label{
    margin:0 3px
}
@media all and (max-width:640px){
    #livros, #usuarios{
        display:block;
        margin:5px auto !important;
        max-width:100%;
        width:100%;
        overflow:visible
    }
}