@import url("reset.css");
@import url("header.css");
@import url("footer.css");
#main{
    max-width:1300px;
    margin:auto;
    padding:40px 0
}
#form{
    width:70%;
    margin:0 auto;
    padding:0
}
input{border: none;}
.campo{
    background: white;
    border: 1px solid rgba(0,0,0,0.3);
    border-top:none;
    padding:0;
    height: 64px
}
.campo:first-child{
    border-radius: 5px 5px 0 0;
    border: 1px solid rgba(0,0,0,0.3);
}
.campo.ultimo{
    border-radius: 0 0 5px 5px;
}
.metade{
    width: 100%;
    margin:0;
    padding:0;
}
.metade .campo{
    width: calc(50% - 2px);
    display:inline-block;
}
.metade .campo:first-child{
    border-radius:0;
    border-top: none;
}
.campo._1-2,
.campo._1-3,
.campo._2-3{
    border-right-color: rgba(0,0,0,0.02);
    float: left
}
.campo._2-2,
.campo._3-3{
    float: right
}
.campo._1-2.ultimo{
    border-radius: 0 0 0 5px;
}
.campo._2-2.ultimo{
    border-radius: 0 0 5px 0;
}

.campo._1-3,
.campo._2-3,
.campo._3-3{
    width: calc(33% + 1px);
}
.metade .campo._1-3,
.metade .campo._2-3,
.metade .campo._3-3{
    width: calc(25% - 2px);
}
.campo .label{
    font-size:80%;
    display: block;
    padding: 10px 5px 5px 15px;
    color: #666;
    text-align: left;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;  
    user-select: none
}
input[type="radio"] ~ label{
    font-size: 100%;
    padding: 5px 5px 20px;
}
.caixa{
    width: calc(100% - 15px);
    display:block;
    background:transparent;
    padding: 0 0 9px;
    margin: 0;
    border-left: 15px solid transparent !important;
    font-size: 110%;
    text-align: left
}
.caixa.invertida{
    background: #00A6FF;
    border:1px solid #fff;
    color: #fff;
}
.caixa.invertida:hover{
    box-shadow:0 0 10px 0 #fff;
    border:1px solid #fff;
}
.caixa.invertida::-webkit-input-placeholder {
   color: #fff;
    opacity: 0.7
}
.caixa.invertida:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}
.caixa.invertida::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}
.caixa.invertida:-ms-input-placeholder {  
   color: #fff; 
    opacity: 0.7
}
.caixa.invertida:focus{
    box-shadow:0 0 10px 0 #fff;
    border:1px solid #fff;
}
.caixa:disabled{
    background:#f1f1f1;
}
.caixa.metade{
    display:inline;
    width:39.7%;
}
.caixa.terco{
    display:inline;
    width:30%;
}
.caixa option:disabled{
    color:#999
}
fieldset{
    width:100%;
    padding:0 !important;
    border: none;
    margin:0;
    background: #fff
}
legend{
    font-family:"Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size:1em;
    color:#666;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    width: calc(100% - 2px);
    background: #fff;
    padding: 5px 0 0;
}
#caixa-botão{
    width:80%;
    margin:50px auto 0
}
.botão{
    border-radius:3px;
    padding:10px 15px;
    border:0;
    color:#fff;
    cursor:pointer;
    font-weight:bold;
    box-shadow:0 5px 0 #0083CC;
    transition:all 0.1s linear;
    background:#00A6FF;
    margin:0
}
.botão.invertido{
    color: #fff;
    background: #00A6FF;
    border-radius: 5px;
    border: 1px solid #fff !important;
    box-shadow:none;
}
.botão i{
    color:#fff;
    font-size:1.4em
}
.botão:active{
    box-shadow:0 2px 0 #0083CC;
    background:#0094e5;
    transform:translateY(3px)
}
.botão.invertido:hover{
    box-shadow:0 0 10px 0px #fff;
}
.botão.invertido:active{
    box-shadow:0 0 15px 3px #fff;
}
#esquerdo{
    float:left
}
#direito{
    float:right
}
@media all and (max-width:550px) {
    fieldset{
        width:95%
    }
    #main{
        padding-top:70px
    }
    h1{
        font-size:2em
    }
    fieldset .caixa.terco, fieldset .caixa, .caixa.metade,.caixa, #caixa-botão{
        width:100%
    }
    .campo{
        border: 1px solid rgba(0,0,0,0.3) !important;
        width: 100% !important
    }
    .caixa{
        border-left-width: 0;
    }
}