@import url("reset.css");
@import url("header.css");
@import url("footer.css");
#main{
    max-width:1300px;
    margin:auto;
    padding:40px 0
}
#form{
    width:70%;
    margin:0 auto;
    padding:0
}
input{
    border: none;
}
.campo{
    background: white;
    border: 1px solid rgba(0,0,0,0.3);
    border-top:none;
    padding:0;
    min-height: 66px
}
.campo:first-child{
    border-radius: 2px 2px 0 0;
    border: 1px solid rgba(0,0,0,0.3);
}
.campo.ultimo{
    border-radius: 0 0 2px 2px;
}
.metade{
    width: 100%;
    margin:0;
    padding:0;
}
.metade .campo{
    width: calc(50% - 2px);
    display:inline-block;
}
.metade .campo:first-child{
    border-radius:0;
    border-top: none;
}
.campo._1-2,
.campo._1-3,
.campo._2-3{
    border-right-width: 0;
    width: calc(50% - 1px);
    float: left
}
.campo._2-2,
.campo._3-3{
    float: right
}
.campo._1-2-3.primeiro{
    border-radius: 2px 0 0 0;
}
.campo._1-1-3.primeiro{
    border-radius: 0 2px 0 0;
    border-top: 1px solid rgba(0,0,0,0.3)
}
._1-2-3{
    float: left;
    width: calc(75% - 2px);
    border-right: 1px solid rgba(0,0,0,0.02) !important;
    display:inline-block;
}
._1-1-3{
    float: right;
    width: calc(25% - 2px);
    display:inline-block;
}
.campo._1-2.ultimo{
    border-radius: 0 0 0 2px;
}
.campo._2-2.ultimo{
    border-radius: 0 0 2px 0;
}
.campo._1-3,
.campo._3-3{
    width: calc(33% + 1px);
}
.campo._2-3{
    width: calc(33% + 3px);
}
.metade .campo._1-3,
.metade .campo._2-3,
.metade .campo._3-3{
    width: calc(25% - 2px);
}
.campo .label{
    font-size:80%;
    display: block;
    padding: 10px 5px 5px 15px;
    color: #666;
    text-align: left;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;  
    user-select: none
}
input[type="radio"] ~ label{
    font-size: 100%;
    padding: 5px 5px 20px;
}
.caixa{
    width: calc(100% - 15px);
    height: 35px;
    display:block;
    background:transparent;
    padding: 0;
    margin: 0;
    border-left: 15px solid transparent !important;
    font-size: 130%;
    text-align: left
}
.caixa:disabled{
    background:#f1f1f1;
}
.caixa option:disabled{
    color:#999
}
fieldset{
    width:100%;
    padding:0 !important;
    border: none;
    margin:0;
    background: #fff
}
legend{
    font-family:"Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size:1em;
    color:#666;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    width: calc(100% - 2px);
    background: #fff;
    padding: 5px 0 0;
}
#caixa-botão{
    width:80%;
    margin:50px auto 0
}
a.botão,
button.botão{
    background:transparent;
    font-size: 1.2em;
    border-radius:2px;
    padding:10px 15px 10px 20px;
    border:1px solid transparent;
    cursor:pointer;
    transition:all 0.3s linear;
    margin:0
}
a.botão:before,
button.botão:before{
    font-size: 1em;
    left: -10px;
    font-family: FontAwesome;
    position: relative;
}
a.botão:active,
button.botão:active{
    transform: translateY(3px);
}
a.botão:disabled,
button.botão:disabled,
a.botão:disabled:active,
button.botão:disabled:active,
a.botão:disabled:hover,
button.botão:disabled:hover{
    background: #000;
    border: 1px solid #000;
    color: #fff;
    opacity: 0.2;
    transform: translateY(0);
    cursor: default;
}
a.positivo,
button.positivo{
    background:#00A6FF;
    color:#fff;
    border-color: #00A6FF;
}
.positivo:focus,
.positivo:hover{
    background: #006aff;
    border-color: #006aff; 
}
.positivo:before{
    content: "\f00c";
    color: #fff;
}
a.voltar,
button.voltar,
a.neutro,
button.neutro{
    color:#333;
    border-color: #333;
    height: 25px;
}
.voltar:focus,
.voltar:hover,
.neutro:focus,
.neutro:hover{
    background: #333;
    color: #fff;
}
.voltar:before,
.neutro:before{
    content: "\f05e";
    color: #333;
}
.voltar:before{
    content: "\f053";
}
a.negativo,
button.negativo{
    color:#ef0000;
    border-color: #ef0000;
}
.negativo:focus,
.negativo:hover{
    color: #fff;
    background: #ef0000;
}
.negativo:before{
    content: "\f00d";
    color: #ef0000;
}
.neutro:focus:before,
.neutro:hover:before,
.negativo:focus:before,
.negativo:hover:before,
.voltar:focus:before,
.voltar:hover:before{
    color: #fff;
}
.botão i{
    color:#fff;
    font-size:1.4em
}
#esquerdo{
    float:left
}
#direito{
    float:right
}
@media all and (max-width:550px) {
    fieldset{
        width:95%
    }
    #main{
        padding-top:70px
    }
    h1{
        font-size:2em
    }
    fieldset .caixa.terco, fieldset .caixa, .caixa.metade,.caixa, #caixa-botão{
        width:100%
    }
    .campo{
        border: 1px solid rgba(0,0,0,0.3) !important;
        width: 100% !important
    }
    .caixa{
        border-left-width: 0;
    }
}