@keyframes girar{
    from{transform: rotate(0deg)}
    to {transform: rotate(361deg)}
}
@keyframes zoom{
    from{transform: scale(0.9)}
    to{transform: scale(1.3)}
}
header{
    box-shadow:0 0 1px rgba(0, 0, 0, 0.3);
    background-color:#00A6FF;
    position:absolute;
    width:100%;
    height: 30px;
    left:0;
    right:0;
    top:0;
    padding:5px 0;
    margin:0
}
header a:link,
header a:visited,
header a:hover,
header a:active{
    color:#fff
}
header span{
    display:inline-block
}
#home{
    float: left;
    margin-left: 15px;
    margin-top: 3px;
}
#home a{
    font-size:1.5em;
    font-family: "Comfortaa", sans-serif;
    letter-spacing: -2px;
    line-height:1
}
#busca{
    position:relative;
    width:50%;
    max-width:500px;
    margin-top: 3px;
}
#caixa-busca,
#caixa-busca:focus,
#caixa-busca:active,
#lupa:focus{
    border:none;
    outline:0
}
#caixa-busca, #lupa{
    background:#fff;
    height:100%;
    margin:0;
    padding:3px
}
#caixa-busca{
    width:90%;
    margin-left:-9%;
    border-radius:5px 0 0 5px
}
#lupa{
    width:9%;
    padding-right:5px;
    position:absolute;
    font-size:20px;
    border-radius:0px 5px 5px 0;
    cursor:pointer
}
#lupa i{
    line-height:75%;
    top:5px;
    position:absolute;
    right:10px;
    color:#666
}
#menu{
    margin-top: 3px;
    float: right;
    margin-right: 15px;
}
#menu a{
    letter-spacing: -1px;
    font-size: 20px;
}
#menu a:hover #config{
    animation: girar 1500ms linear infinite;
}
#menu i{
    color: #fff;
}
#usuario{
    margin: 0 10px;
}
#config{
    margin: 0 5px;
}
#caixa-menu{
    margin-top:40px;
}
#sair:hover i{
    animation: zoom 500ms linear alternate infinite;
}
@media all and (max-width:750px) {
    header{
        padding-top: 10px;
        height:70px
    }
    #busca{
        width:100%;
        top:10px;
    }
    #caixa-busca{
        width:80%;
        margin-left:-9%
    }
    #menu{
        position: absolute;
        top: 10px;
        right: 0;
    }
}