@import url("reset.css");
@import url("header.css");
@import url("footer.css");
#aviso{
    margin:0 auto;
    max-width:500px;
    width:500px;
    border-radius:5px;
    vertical-align:middle;
    color:#D8000C;
    background-color:#FFBABA;
    padding:15px 0;
    font-weight:700;
    font-size:110%;
    position:absolute;
    left:calc(50% - 250px);
    font-family:"Roboto Condensed"
}
#aviso i{
    color:#D8000C;
}
nav{
    padding-top:120px;
    max-width:1300px;
    margin:0 auto
 }
ul#açoes{
    list-style:none;
    padding:0;
    margin:0;
    width:100%
}
ul#açoes li.item .fa,
ul#açoes a:visited,
ul#açoes a{
    color:#333
}
ul#açoes a:focus,
ul#açoes a:focus .fa,
ul#açoes a:active,
ul#açoes a:active .fa,
ul#açoes a:hover,
ul#açoes li.item:hover .fa{
    color:#2196F3
}
ul#açoes li.item{
    display:inline-block;
    background:transparent;
    border-radius:3px;
    margin:15px 5%;
    padding:0;
    width:160px
}
ul#açoes li.item .fa{
    font-size:150px;
    padding:5px
}
ul#açoes li.item .fa-lock{
    font-size:160px
}
@media all and (max-width:690px) {
    #aviso{
        font-size:100%;
        position:relative;
        left:initial;
        width:90%
    }
    #aviso i{
        float:left;
        margin-left:20px;
        margin-top:5px;
        font-size:1.8em
    }
    ul#açoes li.item .fa{
        font-size: 4em
    }
    ul#açoes li.item{
        vertical-align: middle;
        width:30%
    }
}