table{
    max-width:100%;
    min-width: 75%;
    margin:0 auto;
    border:1px solid #2196F3;
    border-radius:2px;
    border-collapse:separate;
    border-spacing:0
}
caption{
    font-family:"Comfortaa", sans-serif;
    font-size:1.2em;
    text-align:center;
    margin:20px auto 10px
}
th{
    color:#fff;
    background:#2196F3;
    padding:10px 5px;
    font-weight:bold
}
td{
    padding:15px 0
}
tr{
    background-color:#fcfcfc
}
.click:hover{
    transform: scale(1.2);
    cursor: pointer
}
tr:nth-child(odd){
    background-color:#F4FBFF
}
tr:nth-child(even){
    background:#fff
}
table.bloco{
    min-width:40%;
    max-width:70%
}
table.bloco td{
    min-width:200px 
}
table.bloco th{
    width:150px
}
@media all and (max-width:550px){
    table{
        width:100%
    }
}